.App{
    margin:2%;
}

.displayed{
    transition-property: visibility, opacity;
    transition-duration: 0s, 1s;
}

.hidden{
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 1s, 0s;
    transition-delay: 0s, 1s;
}

/* The Modal (background) */
.modal {
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.modal-content p{
    margin:20px 15px;
}


.modal-footer{
    padding: 10px 15px;
    text-align: right;
    border-top: 1px solid #eee;
}

.modal-footer a{
    cursor: pointer;
    color: rgb(61, 122, 202);
}

.card{
    padding: 16px;
    font-weight: 500;
    box-sizing: border-box;
    position: relative;
    white-space: nowrap;
    background-color: #fff;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 1;
    cursor: pointer;
    margin-bottom: 10px;
}

.modal-content, .card{
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    border-radius: 6px;
}

.customerInfo{
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    padding-right: 90px;
}

.customerInfo h3{
    margin: 0;
    font-weight: 100;
    color: rgb(61, 122, 202);
}

.customerInfo h4{
    margin-top: 5px;
    margin-bottom: 0;
    display: block;
    font-size: 14px;
}

button.arrow-icon{
    background-image: url(../public/icon-arrow-right.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border: 0;
    cursor: pointer;
    margin: auto;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    bottom: 0;
    right: 10px;
}
